<?xml version="1.0"?>

<model>
  <name>SDU flight lab target</name>
  <version>1.0</version>
  <sdf version="1.6">target_generic.sdf</sdf>

  <author>
    <name>Kristoffer Jensen</name>
    <email>krik@mmmi.sdu.dk</email>
  </author>


  <maintainer email="krik@mmmi.sdu.dk">Kristoffer Jensen</maintainer>


  <description>
    A target ball on a pole for the flight lab simulation.
  </description>
</model>
