<?xml version="1.0"?>

<model>
  <name>SDU Drone Arm</name>
  <version>1.0</version>
  <sdf version="1.6">sdu_drone_arm.sdf</sdf>

  <author>
    <name>Kristoffer Jensen</name>
    <email>krik@mmmi.sdu.dk</email>
  </author>


  <maintainer email="krik@mmmi.sdu.dk">Kristoffer Jensen</maintainer>


  <description>
    A model of the SDU Drone with a two degree of freedom manipulator underneath.
  </description>
</model>
